.main-nav {
    background-color: rgb(24, 151, 230);
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    list-style: none;
}

.nav-cotainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: wrap;
    margin: 0 auto;
    width: fit-content;
}

@media screen and (max-width: 768px) 
{
    .input-group.search-bar{
        width: unset
    }
}

@media screen and (min-width: 769px) 
{
    .input-group.search-bar{
        width: 500px
    }
}