/*.container {
    margin: auto;
    margin-top: 10px;
    width: 46%;
    border: 1px solid grey;
    border-radius: 2px;
    margin-bottom: 40px;
}

.product-brand {
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px
}
  
.brand {
    color: gray;
    text-align: left;
    margin-bottom: 1%;
}
  
h3 {
    width: 50%;
    text-align: left;
    margin-top: 1%;
}

.content {
    margin-top: 0px;
    border-top: 1px solid lightgray;
    margin-left: 40px;
    margin-right: 40px
}
  
.info-text {
    align-items: center;
}

.picture {
    margin-top: 20px;
}*/

.btn-action {
    background-color: dodgerblue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin-bottom: 20px;
}

.text-own {
    width: 90%;
    text-align: left;
    margin-top: 1%;
}