
.btn-action {
    background-color: dodgerblue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin-bottom: 20px;
}

.text-own {
    width: 70%;
    text-align: left;
    margin-top: 1%;
}

/*
.product-brand {
    display: flex;
    flex-direction: column;
}
*/

.product-own {
    width: 200px;
    padding: 10px;
    /* border: 1px solid lightgray; */
    margin: 10px;
    border-radius: 8px;
}