.container {
    /*margin: auto;*/
    margin-top: 10px;
    width: 46%;
    /* border: 1px solid lightgray; */
    border-radius: 2px;
    margin-bottom: 40px;
    flex: 0 0 33%;
    background-color: white;
}

.product-brand {
    margin-top: 20px;
    /* margin-left: 40px; */
    /* margin-right: 40px */
    border-bottom: 1px solid lightgray;
}

.brand {
    color: gray;
    text-align: left;
    margin-bottom: 1%;
}

h3 {
    text-align: left;
    margin-top: 1%;
}

.content {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.price {
    color: black;
    margin-bottom: 0px;
}

.picture {
    margin-top: 20px;
}

.btn-action-products {
    background-color: white;
    border: 1px solid dodgerblue;
    color: dodgerblue;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
}

.financial {
    text-align: right;
    margin-bottom: 0px;
}

.colors-contain {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
   
}

.phone-price {
    /* padding: 15px; */
    /* border-right: 1px solid lightgray; */
    display: flex;
    align-items: center;
    padding-right: 15px;
}

.financial-price {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    padding-left: 15px;
}

.line {
    height: 40px;
    width: 1px;
    background-color:lightgray;
}

.product-container {
    width: 200px;
    padding: 10px;
    border: 1px solid lightgray;
    margin: 10px;
    border-radius: 8px;
}

.leasing-period {
    color: grey;
    font-size: 10px;
}